{% extends "nav/base.html" %}

{% block body %}

  {% include 'macros/_auth_header.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/auth.min.css">
  <main id="main_auth">
      <form method="post">
          <h1>Forgot password.</h1>
          <h4>Enter your email address to reset your password</h4>
          <hr>
          <input name="email" id="email" type="email" placeholder="E-Mail">
          <p>
            We will send you a verification email to reset your password.
          </p>
          <button type="submit">SUBMIT</button>
          <hr>
          <p>
            Back to the <a href="/login">Sign in</a> or
            <a href="/register">Sign up</a> page
          </p>
      </form>
  </main>
  <script src="{{ url_for('static', filename='js/detail/auth.js') }}"></script>
  <script>
    function input_formatNumberwocommas(n) {
      $(n).val($(n).val().toString().replace(/\D/g, ""))
    }
    register();
  </script>
{% endblock %}
