{% extends "nav/base.html" %}

{% block body %}

  {% include 'macros/_auth_header.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/auth.min.css">
  <main id="main_auth">
      <form method="post">
          <h1>MASUK</h1>
          <input name="email" id="email" type="text" placeholder="Client E-mail or Phone number">
          <div class="pass">
              <input id="password" name="password" type="password" placeholder="Password">
              <input type="checkbox" id="view_pass">
              <label for="view_pass" class="glyphicon glyphicon-eye-close"></label>
          </div>
          <a class="forgot" href="/forgot">lupa password?</a>
          <button class="login" type="submit">Masuk</button>
          <hr>
          <p>Belum memiliki akun? <a href="/register">Daftar sekarang</a></p>
      </form>
  </main>
  <script src="/static/js/detail/auth.js"></script>
  <script>
      login();
  </script>
{% endblock %}
