    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detail/tax.js') }}"></script>
    <script>
        _tax();
    </script>
  <main id="dashboard_index">
    <div class="inmain_nav">
      <div class="title">
        <h1>Tax & Service Charges</h1>
      </div>
      <div class="_filter">
        <form>
          <input type="text" placeholder="Search user">
        </form>
        <a class="nav_create" onclick="open_sideform('add_tax_modal')"><p>Add Tax</p></a>
      </div>
    </div>
    <div class="_container">
      <div class="_row">
        <div class="col_10">
          <div class="card chart_card table_card">
            <button type="button" class="_remove_all danger" onclick="open_sideform('remove_many_tax_modal');" disabled>Remove</button>
            <table class="table table-hover" id="table_data">
              <thead>
                <tr>
                  <th><input type="checkbox" class="check_all"></th>
                  <th onclick="sortTable(0);">Name</th>
                  <th onclick="sortTable(0);">Type</th>
                  <th onclick="sortTable(1);">Value</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="data_body"></tbody>
            </table>
            <div class="no_data">
              <img src="{{ url_for('static', filename='src/icon/report.png') }}">
              You don't have any tax yet.
            </div>
        </div>
      </div>
    </div>
  {% include 'main/user/tax/submacros/_add.html' %}
  {% include 'main/user/tax/submacros/_edit.html' %}
  {% include 'main/user/tax/submacros/_remove.html' %}
  {% include 'main/user/tax/submacros/_remove_many.html' %}
</main>
