{% extends "nav/base.html" %}

{% block body %}

  <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.css">

  <script src="/static/js/detail/navigation.js"></script>
  <script src="/static/js/general.js"></script>
  <script src="/static/js/graph.js"></script>
  <script src="/static/semantic/semantic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>

  {% include 'macros/_main_header.html' %}
  {% include 'macros/_sidenav.html' %}

  <div id="mainBody"></div>
{% endblock %}
