    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/detail/products.js') }}"></script>
    <script>
        _product_item();
    </script>
  <main id="dashboard_index">
    <div class="inmain_nav">
      <div class="title">
        <h1>Product Item</h1>
      </div>
      <div class="_filter">
        <form>
          <input type="text" placeholder="Search user">
        </form>
        <a class="nav_create" onclick="sub_href('{{ url_for('main._subreport', sector='product-item', subpage='add') }}')"><p>Add Item</p></a>
      </div>
    </div>
    <div class="_container">
      <div class="_row">
        <div class="col_10">
          <div class="card chart_card table_card">
            <button type="button" class="_remove_all danger" onclick="open_sideform('remove_many_item_modal');" disabled>Remove</button>
            <table class="table table-hover" id="table_data">
              <thead>
                <tr>
                  <th><input type="checkbox" class="check_all"></th>
                  <th onclick="sortTable(0);">Product Name</th>
                  <th onclick="sortTable(1);">Product Category</th>
                  <th onclick="sortTable(2);">Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="data_body"></tbody>
            </table>
            <div class="no_data">
              <img src="{{ url_for('static', filename='src/icon/tag.png') }}">
              You don't have any item yet.
            </div>
        </div>
      </div>
    </div>
  {% include 'main/user/product-item/submacros/_remove.html' %}
  {% include 'main/user/product-item/submacros/_remove_many.html' %}
</main>
