<nav id="mainHeader">
  <div class="nav-menu">
    <a onclick="_menu(1)"><i class="fas fa-bars"></i> Menu</a>
  </div>
  <div class="search_bar">
  </div>
  <div class="nav-right">
    <a class="nav_create" onclick="sub_href('/page/business/new-outlet')"><p>Buat Outlet</p></a>
    <a><i class="fa fa-bell"></i></a>
    <div class="vl"></div>
    <div class="menu">
      <i class="fas fa-user"></i><i class="fas fa-angle-down"></i>
      <div class="menu_dropdown">
        <div class="_header">
          <h4 class="header_user_name">##############</h4>
          <h6 class="header_user_email">#########@########</h6>
        </div>
        <div class="_body">
          <a href="#" onclick="nav_href('account')">Akun</a>
          <a href="#" onclick="nav_href('billing')">Billing</a>
          <a class="logout" onclick="logout();">Keluar</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="nav-left">
    <a>
      <i class="fas fa-envelope"></i>
    </a>

  </div> -->
</nav>
