<main id="mainBusinessPage">
  <div class="_row _list_table">
    <div class="no_data">
      <img src="static/src/icon/outlet.png">
        Anda masi belum memiliki Outlet.
    </div>
  </div>
</main>
{% include 'main/user/business/submacros/_edit_category_outlet.html' %}
{% include 'main/user/business/submacros/_edit_item_outlet.html' %}
{% include 'main/user/business/submacros/_edit.html' %}
{% include 'main/user/business/submacros/_edit_table.html' %}
{% include 'main/user/business/submacros/_edit_payment.html' %}
{% include 'main/user/business/submacros/_remove.html' %}
<script>
  $('.label.ui.dropdown')
    .dropdown();

  $('.no.label.ui.dropdown')
    .dropdown({
    useLabels: true
  });

  $('.ui.button').on('click', function () {
    $('.ui.dropdown')
      .dropdown('restore defaults')
  });
  _business_overview();
</script>
